/* Index Page */

@font-face {
  font-family: header;
  src: url("fonts/Shippori_Antique/ShipporiAntique-Regular.ttf");
}

#indexpage {
  margin: 0 auto;
  box-sizing: border-box;
  background-color: #a3c9a8;
  height: 100vh;
  border: 1px #a3c9a8 dashed;
}

#header,
.biryanihead,
.dosahead,
.sabudanahead {
  font-family: header;
  font-size: 15px;
  text-align: center;
  color: #50808e;
  margin-top: 10px;
  padding: 0 0 30px 0;
}

.list li a {
  text-decoration: none;
  color: #254741;
  font-family: header;
  font-size: 20px;
}

.list li {
  list-style-type: lower-latin;
  font-family: header;
  font-weight: bold;
  font-size: 20px;
  color: #254741;
  padding: 0 5px 0 0;
}

.listindex {
  width: 350px;
  padding: 10px;
  margin: 0 auto;
}

/* styling CSS for Biryani Link */
.biryaniimg,
.dosaimg,
.sabudanaimg {
  width: 160px;
  height: 150px;
  border-radius: 50px;
}

.b_body,
.d_body,
.s_body {
  box-sizing: border-box;
  background-color: rgb(180, 163, 105);
  font-family: header;
  font-size: 10px;
}
