/* Index Page */

@font-face {
  font-family: header;
  src: url("fonts/Comforter_Brush/ComforterBrush-Regular.ttf");
}

#indexpage {
  margin: 0 auto;
  box-sizing: border-box;
  background-color: #a3c9a8;
}

#header {
  font-family: header;
  font-size: 20px;
  text-align: center;
  color: #50808e;
  letter-spacing: 5px;
  margin-top: 10px;
  padding: 0 0 30px 0;
  height: 30vh;
}

ul li a {
  text-decoration: none;
  color: #69a297;
  font-family: header;
  font-size: 30px;
  letter-spacing: 3px;
}

ul li {
  list-style-type: lower-latin;
  font-family: header;
  font-weight: 550;
  font-size: 30px;
  color: #69a297;
  padding: 0 5px 0 0;
}

.list {
  width: 350px;
  padding: 10px;
  margin: 0 auto;
}

.footer {
  position: relative;
  width: 100px;
  left: 10px;
  top: 70px;
  color: #69a297;
  font-family: header;
  font-size: 15px;
  height: 2vh;
}

/* styling CSS for Biryani Link */
.biryanihead {
  color: red;
}
